In [27]:
!pip install yfinance pandas

Requirement already satisfied: yfinance in /usr/local/lib/python3.11/dist-packages (0.2.55)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.0)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (1.26.3)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.11/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.1.0)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.11/dist-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2023.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.31->yfinance) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.31->yfinance) (2020.6.20)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [28]:
import yfinance as yf
import pandas as pd

In [29]:
tickers = [
    'ICICIBANK.NS',   
    'RELIANCE.NS',    
    'TCS.NS',         
    'GOLDBEES.NS',    
    'MUTHOOTFIN.NS',
    'BTC-USD',
    'USDINR=X',
    'CL=F'
]

In [32]:
start_date = '2015-01-01'
end_date = '2025-03-01'

In [33]:
data = yf.download(tickers, start=start_date, end=end_date)

[*********************100%***********************]  8 of 8 completed

In [34]:
data.head()

Price            Close                                                    \
Ticker         BTC-USD       CL=F GOLDBEES.NS ICICIBANK.NS MUTHOOTFIN.NS
Date
2015-01-01  314.248993        NaN   24.563499   291.494598    175.769882
2015-01-02  315.032013  52.689999   24.511999   299.768616    166.792847
2015-01-03  281.082001        NaN         NaN          NaN           NaN
2015-01-04  264.195007        NaN         NaN          NaN           NaN
2015-01-05  274.473999  50.040001   24.662001   300.389160    162.693741

Price                                               High             ...  \
Ticker     RELIANCE.NS       TCS.NS USDINR=X     BTC-USD       CL=F  ...
Date                                                                 ...
2015-01-01  197.846710  1084.215576   63.028  320.434998        NaN  ...
2015-01-02  197.323074  1098.654297   63.028  315.838989  55.110001  ...
2015-01-03         NaN          NaN      NaN  315.149994        NaN  ...
2015-01-04         NaN          NaN      NaN  287.230011        NaN  ...
2015-01-05  195.161667  1081.958374   63.278  278.341003  52.730000  ...

Price              Open             Volume                                     \
Ticker           TCS.NS USDINR=X   BTC-USD      CL=F GOLDBEES.NS ICICIBANK.NS
Date
2015-01-01  1093.351665   63.028   8036550       NaN    983500.0    2583280.0
2015-01-02  1086.536729   63.090   7860650  268708.0    687400.0    8272990.0
2015-01-03          NaN      NaN  33054400       NaN         NaN          NaN
2015-01-04          NaN      NaN  55629100       NaN         NaN          NaN
2015-01-05  1099.314856   63.278  43962800  375782.0   1520600.0   10316090.0

Price
Ticker     MUTHOOTFIN.NS RELIANCE.NS     TCS.NS USDINR=X
Date
2015-01-01     1116007.0   2963643.0   366830.0      0.0
2015-01-02      466297.0   7331366.0   925740.0      0.0
2015-01-03           NaN         NaN        NaN      NaN
2015-01-04           NaN         NaN        NaN      NaN
2015-01-05      396192.0  10103941.0  1754242.0      0.0

[5 rows x 40 columns]

In [35]:
data=data["Close"]

In [36]:
data.head()

Ticker,BTC-USD,CL=F,GOLDBEES.NS,ICICIBANK.NS,MUTHOOTFIN.NS,RELIANCE.NS,TCS.NS,USDINR=X
Date,,,,,,,,
2015-01-01,314.248993,NaN,24.563499,291.494598,175.769882,197.846710,1084.215576,63.028
2015-01-02,315.032013,52.689999,24.511999,299.768616,166.792847,197.323074,1098.654297,63.028
2015-01-03,281.082001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-04,264.195007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-05,274.473999,50.040001,24.662001,300.389160,162.693741,195.161667,1081.958374,63.278

In [37]:
data.to_csv("prices.csv")